.sideBars {
    height: calc(100vh - 50px);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background-color: #2A2A2A;

}

.btn-custom {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 90%;
    background: linear-gradient(to right, #9C00B1, #E100FF );
    color: #FFF;
    font-size: 15px;
}