.custom-login {
  background-color: #343541;
  color: #444654;
}

.custom-card {
  background-color: #444654;
}

.no-border:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn-violet {
  background-color: #6e2bf3;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-violet:hover {
  background-color: #6e2bf3;
  color: #fff;
}
