.form {
  width: 500px;

  background-color: #17191a;
  color: #dee2e6;
  border-radius: 10px;
  padding: 20px;
}

.form-control:focus,
.form-select:valid:focus {
  box-shadow: none;
  border: 2px solid #6f2cf5;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #6f2cf5;
}

.btn:hover {
  background-color: #6f2cf5;
}

#floatingDescription {
  height: 100px;
}
