.form {
  width: 500px;

  background-color: #17191a;
  color: #dee2e6;
  border-radius: 10px;
  padding: 20px;
}

.form-control:focus,
.form-select:valid:focus {
  box-shadow: none;
  border: 2px solid #6f2cf5;
}

.button {
  display: flex;
  justify-content: center;
}

.btn-violet {
  background-color: #6e2bf3;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn-primary:hover {
  background-color: #6f2cf5;
}

#floatingDescription {
  height: 100px;
}
